<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{%static 'plots/index.css'%}">
    <title>Plots App</title>
    {{ resources|safe }}   
</head>
<body>
    <div class="side">
        <p>Side bar</p>
    </div>
    <div class="conatiner">
        <div class="form">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="x" placeholder="x values" title="Enter x values" class="vals">
                <input type="text" name="y" placeholder="y values" title="Enter y values" class="vals">
                <input type="submit" value="Enter" class="enter">
            </form>
        </div>
        <div class="plot">
            {{div|safe}}
        </div>
    </div>
    
    {{scripts|safe}}
</body>
    <!-- <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-x.y.z.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-x.y.z.min.js"></script> -->
</html>