<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/index.css' %}">
    <title>My Website</title>
</head>
<body>
    <div class="header">
        <a href="#" id="logo">Logo</a>
        <a href="#" class="nav">Home</a>
        <a href="#" class="nav">Design</a>
        <a href="#" class="nav" id="services">Programs</a>
        <a href="#" class="socials">Github</a>
    </div>
    <div id="mid">
        <div class="side-bar">
            <p>Side Bar</p>
            <a href="{% url 'plots:index' %}" class="side-list">Graphs plotting</a>
            <a href="#" class="side-list">Equation solver</a>
            <a href="#" class="side-list">Matrix Operations</a>
            <a href="#" class="side-list">Astronomical Data Science</a>
            <a href="{% url 'linreg:index' %}" class="side-list">Least Square Fitting</a>
            <a href="#" class="side-list">About</a>
        </div>
        <div class="main">
            <h2>Project</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptates quidem. Tempore libero sunt deserunt quos consequatur magni ullam, culpa est totam eum ducimus fugit! Perferendis quae debitis odit quod!fgnmcmvh,hmvncgmv nv dv dv dkmv sdl v v xvk v c,x ,xc v  xcn vdnflrnlnbdslvndlbdrvbdfvn;dsblrgvbldfv
            Provident accusantium distinctio laborum! Dolore repellat dolorum, debitis assumenda eius delectus atque soluta asperiores maiores praesentium. Odio accusamus tempore voluptatibus aliquam, laborum quo, esse unde incidunt cum quaerat itaque! Vel.
            Repudiandae eum quae beatae facere atque aperiam corporis, aliquam voluptas culpa velit harum sint aliquid quos commodi totam sapiente. Iusto nihil veniam dolorum voluptatibus praesentium perspiciatis, ut ratione ea exercitationem.
            Vero, reprehenderit quae fugiat atque pariatur in explicabo animi ex commodi ratione est optio minima natus itaque repellendus autem amet illo. Beatae optio minima a sint libero esse delectus sapiente.
            Laudantium, natus hic provident, voluptatum repellat at nostrum consequatur reiciendis ratione ullam omnis culpa libero eligendi similique id nesciunt? Quos, porro suscipit possimus rerum culpa nobis reiciendis explicabo nihil. Perspiciatis.
            Eos, nemo mollitia. Quae sunt explicabo laborum saepe vero, minus fuga omnis quis aliquid asperiores sint nobis officia expedita necessitatibus possimus unde eum totam voluptatum illum dolorem quam tenetur odio?
            Aspernatur, labore nisi veniam eligendi id suscipit excepturi magnam nobis necessitatibus neque corrupti qui nulla enim et, soluta ab repellat libero veritatis ullam omnis earum ducimus quasi. Totam, voluptates magni.
            Earum ratione aliquid sed voluptas sit, ad culpa! Quasi ducimus, assumenda nihil earum maxime repellat aliquam dolor quam animi architecto iusto quos quo cum illum adipisci quibusdam ex exercitationem obcaecati.
            Blanditiis quo aut molestiae nulla vitae assumenda culpa dignissimos, explicabo fugit nihil ratione molestias repellendus ut commodi beatae, architecto cupiditate dicta perferendis optio rem repudiandae minima. Enim impedit tenetur odit!
            Quo quibusdam architecto enim corporis aliquam consequatur facilis delectus ratione perspiciatis neque pariatur, aut voluptatem cumque iusto at nostrum dolor voluptas nulla quos. Pariatur omnis quibusdam, harum error consequatur quas.
            Voluptatum aspernatur, itaque nostrum doloremque perspiciatis aut voluptates corrupti, optio harum ab quam. Porro ratione enim sapiente excepturi quia. Possimus commodi nemo unde deleniti quo maiores ipsa atque ipsam labore.
            Odio similique quidem, illum sed explicabo adipisci ipsam hic pariatur perspiciatis magnam animi minus, minima repellat doloremque praesentium numquam eum ad laborum maxime error sint. Ab dolor nisi optio aut!
            Quod nemo optio officiis odit qui dignissimos eaque repellendus, necessitatibus dolorem et praesentium earum pariatur voluptates impedit consequatur officia nostrum ut laborum deleniti? Rerum corrupti esse, commodi aspernatur qui atque!
            Odit atque ratione possimus non. Esse quidem, natus libero provident ducimus, ab quibusdam quae nostrum nemo ipsum voluptas suscipit tenetur laboriosam labore. Porro consequuntur sint perspiciatis eligendi. Asperiores, magni aperiam.
            Molestias quasi laborum consectetur quos, numquam veniam voluptate eligendi in ducimus. Rem doloremque totam ea eligendi minus corporis nostrum quae facilis recusandae nulla aliquam quis soluta officia optio, obcaecati saepe.
            Dignissimos sed vel necessitatibus. Accusamus deserunt dolores velit minus numquam beatae! A quasi illum consequuntur repellendus aspernatur hic accusantium, iusto id recusandae et cum magnam beatae corrupti inventore eos voluptates?
            Fugit cum dolor corrupti hic consectetur deserunt possimus exercitationem modi. Ad unde quas ab? Quae dignissimos cumque molestiae. Labore illum qui nihil quam accusantium aperiam at id commodi, neque quos.
            Iste itaque magnam id vero. Labore, totam, sint omnis assumenda sequi eligendi incidunt quos dolor cum magni id possimus illo aperiam rerum ab perferendis nam error delectus aspernatur? Recusandae, magni.
            Error fugiat voluptates nihil debitis nulla voluptatum aperiam provident praesentium rerum impedit libero, dolorum harum omnis, dolores deleniti sequi sint fugit numquam! Praesentium quas omnis sint quisquam quibusdam voluptates sapiente.
            Nostrum laudantium vero consectetur odio nesciunt unde, doloribus minus culpa dolorum, id perspiciatis molestiae. Maxime aut consectetur similique, et dignissimos illum tenetur ab! Eaque hic explicabo asperiores culpa. Animi, voluptatum.
            Ullam laborum ut, beatae est ipsa commodi veritatis quas tempore sequi, assumenda illum? Obcaecati, cum! Itaque voluptates dignissimos ab cumque, recusandae eveniet culpa maiores eaque veniam impedit! Non, tempore accusantium?
            Aspernatur sint illo minima vero sapiente voluptas error vitae! Neque at aliquid optio facere tempore impedit soluta enim eveniet repellendus exercitationem! Officiis incidunt sit reprehenderit accusantium aperiam, officia esse aspernatur.
            Laudtempore deserunt iusto minus earum totam quo exercitationem ratione animi vel at commodi id vitae. Vel vero, beatae fugit modi eaque tempora ab quidem laboriosam!
            Quod natus dicta sed debitis minima accusamus nemo suscipit a rerum, veritatis odio corrupti saepe libero, distinctio sunt hic officia ab recusandae ex totam tenetur! Hic modi in ipsa vel!
            Quis nisi nulla, perferendis molestias pariatur non distinctio perspiciatis sed voluptas voluptatum nihil cupiditate explicabo sapiente. Distinctio ipsum doloremque, eaque sint dolore quidem quos earum fugiat non maxime, id exercitationem.
            Nam reprehenderit mollitia molestiae quos, nemo asperiores possimus repudiandae ullam et saepe odio, id corporis a eligendi pariatur, cumque impedit iste culpa dolorum excepturi? Quam ut harum dicta dolorum repellendus!
            Labore fugiat, enim possimus tenetur molestiae optio tempore, dignissimos ad qui quo cum sed sunt voluptatum voluptas minus placeat illo velit. Ut dolorum repellat aspernatur quis dolore nulla a ad.
            Quasi esse voluptatum commodi sequi provident magnam iusto blanditiis optio, ullam, modi saepe earum cumque molestias laborum quidem? Maxime dolore at, fuga hic iure optio natus voluptates consectetur repellat nobis?
            Nam in hic necessitatibus debitis ullam nobis consectetur culpa rem asperiores minus illum autem quae beatae, modi magni exercitationem aperiam illo sequi eligendi vero ex veniam facilis, explicabo sunt? Voluptates.
            Maiores dolor in sapiente assumenda! Incidunt hic ullam laboriosam repellat, placeat labore deserunt recusandae quia voluptas velit dicta voluptatem saepe soluta facilis vero minus ea ad aliquid autem, iure maxime!
            Odio harum quam distinctio, perferendis quos illum deserunt sapiente esse accusantium pariatur optio officia vero vel molestias animi, itaque, tenetur natus excepturi explicabo tempore enim provident quidem corrupti? Earum, ipsam.
            Ullam, magnam! Mollitia tempora, dignissimos libero magni error, veniam quam quos numquam modi inventore sit necessitatibus tempore expedita ipsum beatae laudantium corporis accusamus saepe magnam minus odio officiis aliquid? Reiciendis.
            Expedita officiis quos, quidem, suscipit ad vitae ullam tempora, deleniti reiciendis odio error! Aliquid culpa nisi dolor molestiae omnis eaque, perspiciatis recusandae sapiente nulla. Sequi nobis voluptatibus cumque quasi ad?
            Iste eaque delectus quas at molestias, consequatur, error est aliquam dolorum praesentium modi nisi fuga ducimus ipsam, corrupti iusto cumque repellat porro inventore nostrum voluptate doloribus nemo ad. Iusto, tenetur.
            Tempora, fugiat nulla. Facere quidem repellat natus dolor debitis adipisci accusantium! Quasi eum error soluta. Quam illum iusto quo maxime laboriosam cupiditate ea, pariatur, laborum placeat nobis aliquid praesentium esse.
            Eos nobis alias, natus et voluptatem nesciunt saepe labore minima earum, minus aliquid perspiciatis vitae tenetur modi, libero ipsam magnam culpa. Ducimus aut quo delectus magnam unde fugiat explicabo enim!
            Culpa, asperiores. Quisquam, exercitationem reiciendis rerum enim officiis voluptas amet unde nam consectetur deserunt facere molestias maiores tenetur quis, accusantium fugiat veritatis repudiandae assumenda, itaque libero at iusto aspernatur qui!
            Sequi, qui recusandae. Veniam recusandae iste animi ducimus dolor alias vitae officiis corporis, dolorem quidem, sit maxime a magnam sapiente? Expedita quasi provident alias soluta fuga non, ipsa esse iste.
            Possimus aperiam asperiores minima ea magnam similique repellendus iste quo dicta dignissimos aliquam recusandae eaque vitae laboriosam, dolore necessitatibus provident! Reprehenderit quis vel voluptas cupiditate sequi id minima incidunt accusamus.
            </p>
        </div>
        <!-- <div class="main-small">
            <p class="content-small">Scientific Calculator</p>
            {% load static %}
            <img src="{% static 'plots/base.png' %}" alt="">
            <p class="content-small">Plots</p>
            {% load static %}
            <img src="{% static 'plots/base.png' %}" alt="" class=>
            <p class="content-small">Equation Solver</p>
            {% load static %}
            <img src="{% static 'plots/base.png' %}" alt="">
            <p class="content-small">Matrix Operations</p>
            {% load static %}
            <img src="{% static 'plots/base.png' %}" alt="">
            <p class="content-small">Astronomical Data Science</p>
            {% load static %}
            <img src="{% static 'plots/base.png' %}" alt="">
            <p class="content-small">Linear regression</p>
            {% load static %}
            <img src="{% static 'plots/base.png' %}" alt="">
        </div> -->
    </div>
    <div class="foot">
        <p>About</p>
        <a href="#" class="foot-link">Links</a>
        <a href="#" class="foot-link">Links</a>
        <a href="#" class="foot-link">Links</a>
        <a href="#" class="foot-link">Links</a>
    </div>
</body>
</html>